/*
  The following code is for the link text rollover feature. It must be in this order. This also formats the font size for anchored elements to be 25px. Remember LoVe HAte pneumonic device for the order. -AN
*/
a:link  { color: blue}
a:visited { color:purple}
a:hover { color:aquamarine}
a:active {color: black}
a {
  font-size: 25px;
}

/*
  This next block styles the header of the page. -AN
*/
header{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color:bisque;
  background-image: url("images/black-pattern.jpg");
  margin: 0px;
  padding-top:40px;
  padding-bottom:50px;
  height: auto;
}

/*
  This block styles the main portion. Image background is set here and font color is set to bisque so it is easier to read against the background. -AN
*/
main{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: bisque;
  background-image: url("images/wooden-pane.jpg");
  padding: 50px;
  height: auto;
}

/*
  Article containers are padded to create space between each horizontal rule. -AN
*/
article{
  padding: 50px;
}

/*
  List text is aligned to the left to make the bullets/numbers line up. -AN
*/
li{
  text-align: left;
}

/*
  Footer styles are created here and the footer uses the same background as the header. -AN
*/
footer{
  color:bisque;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("images/black-pattern.jpg");
  margin:0px;
  padding:20px; 
  height: auto;
}
